---
import Layout from "@/layouts/Layout.astro";
import PageNav from "@/components/PageNav";
import { Image } from "astro:assets";
import lostGif from "public/404.gif";
---

<Layout title="404 | Página no encontrada">
  <main class="w-5/6 mx-auto relative" transition:persist>
    <PageNav currentLocale="es" title="Parece que te has perdido" client:load />
    <section data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
      <div class="text-primary mt-36">
        <h1 class="text-9xl font-semibold flex justify-center items-center">
          404
        </h1>
        <p class="text-center font-semibold">
          La página a la que estás intentando acceder no existe
        </p>
        <div class="flex justify-center mt-6">
          <Image class="rounded-xl" src={lostGif} alt="lost-gif" height={lostGif.height} width={lostGif.width} loading={"eager"}/>
        </div>
        <div class="flex justify-center mt-6">
          <a href="/" class="px-4 py-2 bg-primary rounded-xl bg-opacity-10 font-semibold transition-all ease-in-out md:hover:bg-opacity-20">Volver al Inicio</a>
        </div>
      </div>
    </section>
  </main>
</Layout>
