---

---

<section
  id="about"
  class="w-5/6 mx-auto m-6"
>
  <div data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
  data-aos-delay="500" class="gap-8 py-8 px-4 mx-auto">
    <div class="mt-4 md:mt-0">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-primary text-transparent bg-clip-text bg-gradient-to-r from-primary to-[#616161] sm:text-3xl md:text-5xl pb-2 text-center"
      >
        Sobre mí
      </h2>
      <p
        class="mb-6 font-light text-gray-300 md:text-lg dark:text-gray-400 text-center sm:w-5/6 w-full mx-auto"
      >
      Hola a todos, Soy Javier Picón y actualmente vivo en Coslada (Madrid, España).
      <br>
      He estudiado <span class="font-bold text-primary text-transparent bg-clip-text bg-gradient-to-r from-primary to-teal-500">Desarrollo de Aplicaciones Web</span>, y soy programador junior
      <br> 
      especializado en la parte <span class="font-bold text-primary">Backend</span> sobre todo con <span class="font-bold text-primary">Java y el framework Spring Boot.</span>
      <br>
      <br>
      Actualmente me encuentro aprendiendo Python y algunos de sus frameworks como Django y Reflex.
      </p>
    </div>
    <section class="py-10">
      <div class="container mx-auto">
        <h1
          class="text-2xl text-transparent bg-clip-text bg-gradient-to-r from-secondary to-[#616161] font-extrabold py-3 text-center"
        >
          Tecnologías que manejo
        </h1>
        <div
          class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center"
        >
        <svg 
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg" 
            height="1em" 
            viewBox="0 0 384 512">
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M277.74 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1zm-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.84 0 242.84 0c21.5 84.5-75.6 110.1-110.7 162.6-23.9 35.9 11.7 74.4 60.2 118.2zm114.6-176.2c.1 0-175.2 43.8-91.5 140.2 24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3zm-6.1 270.5a12.19 12.19 0 0 1-2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.33 17.33 0 0 0-8.2 6.3 70.45 70.45 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4zM348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6.7-18.3-7.9 16-19 26.8-21.3 11.2-2.4 17.7-2 17.7-2-20.3-14.3-131.3 28.1-56.4 40.2C232.84 509.4 401 461.3 348 437.4zM124.44 396c-78.7 22 47.9 67.4 148.1 24.5a185.89 185.89 0 0 1-28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5-33.5-3.8-13.9-15.2-13.9-15.2zm179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6 0-.1 11.8 9.7 72.4 13.6 92.2 5.9 233.8-3.3 237.1-46.9 0 0-6.4 16.5-76.2 29.7zM260.64 353c-59.2 11.4-93.5 11.1-136.8 6.6-33.5-3.5-11.6-19.7-11.6-19.7-86.8 28.8 48.2 61.4 169.5 25.9a60.37 60.37 0 0 1-21.1-12.8z"/>
            <title>Java</title>
          </svg>
          <svg
            class="fill-primary h-12" 
            fill="#000000" 
            viewBox="0 0 24 24" 
            xmlns="http://www.w3.org/2000/svg">
            <title>Spring Boot</title>
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M20.205 16.392c-2.469 3.289-7.741 2.179-11.122 2.338 0 0-.599.034-1.201.133 0 0 .228-.097.519-.198 2.374-.821 3.496-.986 4.939-1.727 2.71-1.388 5.408-4.413 5.957-7.555-1.032 3.022-4.17 5.623-7.027 6.679-1.955.722-5.492 1.424-5.493 1.424a5.28 5.28 0 0 1-.143-.076c-2.405-1.17-2.475-6.38 1.894-8.059 1.916-.736 3.747-.332 5.818-.825 2.208-.525 4.766-2.18 5.805-4.344 1.165 3.458 2.565 8.866.054 12.21zm.042-13.28a9.212 9.212 0 0 1-1.065 1.89 9.982 9.982 0 0 0-7.167-3.031C6.492 1.971 2 6.463 2 11.985a9.983 9.983 0 0 0 3.205 7.334l.22.194a.856.856 0 1 1 .001.001l.149.132A9.96 9.96 0 0 0 12.015 22c5.278 0 9.613-4.108 9.984-9.292.274-2.539-.476-5.763-1.752-9.596"></path></g>
          </svg>
          <svg 
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg" 
            height="1em" 
            viewBox="0 0 448 512">
            <title>Python</title>
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/>
          </svg>
          <svg
            class="fill-primary h-12" 
            xmlns="http://www.w3.org/2000/svg" 
            height="1em" 
            viewBox="0 0 448 512">
            <title>Angular</title>
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M185.7 268.1h76.2l-38.1-91.6-38.1 91.6zM223.8 32L16 106.4l31.8 275.7 176 97.9 176-97.9 31.8-275.7zM354 373.8h-48.6l-26.2-65.4H168.6l-26.2 65.4H93.7L223.8 81.5z"/>
          </svg>
          <svg
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 448 512"
            ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <title>Nodejs</title>
            <path
              d="M224 508c-6.7 0-13.5-1.8-19.4-5.2l-61.7-36.5c-9.2-5.2-4.7-7-1.7-8 12.3-4.3 14.8-5.2 27.9-12.7 1.4-.8 3.2-.5 4.6.4l47.4 28.1c1.7 1 4.1 1 5.7 0l184.7-106.6c1.7-1 2.8-3 2.8-5V149.3c0-2.1-1.1-4-2.9-5.1L226.8 37.7c-1.7-1-4-1-5.7 0L36.6 144.3c-1.8 1-2.9 3-2.9 5.1v213.1c0 2 1.1 4 2.9 4.9l50.6 29.2c27.5 13.7 44.3-2.4 44.3-18.7V167.5c0-3 2.4-5.3 5.4-5.3h23.4c2.9 0 5.4 2.3 5.4 5.3V378c0 36.6-20 57.6-54.7 57.6-10.7 0-19.1 0-42.5-11.6l-48.4-27.9C8.1 389.2.7 376.3.7 362.4V149.3c0-13.8 7.4-26.8 19.4-33.7L204.6 9c11.7-6.6 27.2-6.6 38.8 0l184.7 106.7c12 6.9 19.4 19.8 19.4 33.7v213.1c0 13.8-7.4 26.7-19.4 33.7L243.4 502.8c-5.9 3.4-12.6 5.2-19.4 5.2zm149.1-210.1c0-39.9-27-50.5-83.7-58-57.4-7.6-63.2-11.5-63.2-24.9 0-11.1 4.9-25.9 47.4-25.9 37.9 0 51.9 8.2 57.7 33.8.5 2.4 2.7 4.2 5.2 4.2h24c1.5 0 2.9-.6 3.9-1.7s1.5-2.6 1.4-4.1c-3.7-44.1-33-64.6-92.2-64.6-52.7 0-84.1 22.2-84.1 59.5 0 40.4 31.3 51.6 81.8 56.6 60.5 5.9 65.2 14.8 65.2 26.7 0 20.6-16.6 29.4-55.5 29.4-48.9 0-59.6-12.3-63.2-36.6-.4-2.6-2.6-4.5-5.3-4.5h-23.9c-3 0-5.3 2.4-5.3 5.3 0 31.1 16.9 68.2 97.8 68.2 58.4-.1 92-23.2 92-63.4z"
            ></path></svg
          >
          <svg
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 384 512"
            ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <title>Html</title>
            <path
              d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"
            ></path></svg
          >
          <svg
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 384 512"
            ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <title>CSS</title>
            <path
              d="M0 32l34.9 395.8L192 480l157.1-52.2L384 32H0zm313.1 80l-4.8 47.3L193 208.6l-.3.1h111.5l-12.8 146.6-98.2 28.7-98.8-29.2-6.4-73.9h48.9l3.2 38.3 52.6 13.3 54.7-15.4 3.7-61.6-166.3-.5v-.1l-.2.1-3.6-46.3L193.1 162l6.5-2.7H76.7L70.9 112h242.2z"
            ></path></svg
          >
          <svg
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 448 512"
            ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->

            <title>Javascript</title>
            <path
              d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM243.8 381.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"
            >
            </path></svg
          >
          <svg 
            class="fill-primary h-12"
            fill="#000000" 
            viewBox="-2 0 24 24" 
            xmlns="http://www.w3.org/2000/svg">
            <title>Android</title>
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="m7.11 5.12c.311 0 .562-.252.562-.562s-.252-.562-.562-.562c-.003 0-.006 0-.01 0-.15 0-.285.064-.379.165-.098.103-.159.243-.159.397s.06.294.159.397c.095.102.23.166.38.166h.011-.001zm6.087 0h.01c.15 0 .285-.064.379-.165.098-.103.159-.243.159-.397s-.06-.294-.159-.397c-.095-.102-.23-.166-.38-.166-.004 0-.007 0-.011 0h.001c-.311 0-.562.252-.562.562s.252.562.562.562zm-11.711 2.654c.811.004 1.468.66 1.471 1.471v6.202.028c0 .4-.163.763-.426 1.025-.257.267-.617.433-1.017.433-.01 0-.02 0-.031 0h.002c-.002 0-.005 0-.008 0-.816 0-1.478-.662-1.478-1.478 0-.003 0-.005 0-.008v-6.202c0-.006 0-.014 0-.021 0-.4.166-.761.433-1.019.26-.266.623-.431 1.025-.431h.029-.001zm15.288.274v9.606.029c0 .429-.177.818-.462 1.096-.276.285-.662.462-1.089.462-.008 0-.015 0-.023 0h.001-1.082v3.274c0 .82-.665 1.486-1.486 1.486s-1.486-.665-1.486-1.486v-3.274h-1.99v3.274.008c0 .816-.662 1.478-1.478 1.478-.003 0-.006 0-.008 0-.006 0-.014 0-.021 0-.4 0-.761-.166-1.019-.433-.267-.261-.433-.624-.433-1.026 0-.009 0-.019 0-.028v.001l-.014-3.274h-1.066c-.003 0-.007 0-.01 0-.87 0-1.576-.706-1.576-1.576 0-.004 0-.007 0-.011v.001-9.606zm-3.346-5.84c1.017.52 1.85 1.272 2.452 2.19l.015.024c.579.866.923 1.932.923 3.077v.032-.002h-13.342c0-.009 0-.02 0-.031 0-1.146.345-2.211.936-3.098l-.013.02c.619-.944 1.457-1.696 2.444-2.197l.036-.017-1.024-1.89c-.025-.032-.04-.072-.04-.116 0-.076.045-.142.11-.172h.001c.03-.019.067-.031.107-.031.08 0 .15.048.182.116l.001.001 1.04 1.904c.854-.383 1.85-.606 2.899-.606s2.045.223 2.945.624l-.046-.018 1.04-1.904c.032-.07.102-.117.182-.117.04 0 .076.012.108.031h-.001c.066.03.112.096.112.173 0 .044-.015.084-.04.116zm6.88 7.04v6.202.008c0 .816-.662 1.478-1.478 1.478-.003 0-.006 0-.008 0-.006 0-.014 0-.021 0-.4 0-.761-.166-1.019-.433-.267-.261-.433-.624-.433-1.026 0-.009 0-.019 0-.028v.001-6.202c0-.009 0-.019 0-.029 0-.399.166-.76.433-1.016.259-.263.619-.426 1.017-.426h.024-.001.028c.4 0 .763.163 1.025.426.267.257.433.617.433 1.017v.027-.001z"></path></g>
          </svg>
          <svg 
            class="fill-primary h-12"
            fill="#000000" 
            viewBox="0 0 24 24" 
            xmlns="http://www.w3.org/2000/svg">
            <title>MySQL</title>
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="m24.129 23.412-.508-.484c-.251-.331-.518-.624-.809-.891l-.005-.004q-.448-.407-.931-.774-.387-.266-1.064-.641c-.371-.167-.661-.46-.818-.824l-.004-.01-.048-.024c.212-.021.406-.06.592-.115l-.023.006.57-.157c.236-.074.509-.122.792-.133h.006c.298-.012.579-.06.847-.139l-.025.006q.194-.048.399-.109t.351-.109v-.169q-.145-.217-.351-.496c-.131-.178-.278-.333-.443-.468l-.005-.004q-.629-.556-1.303-1.076c-.396-.309-.845-.624-1.311-.916l-.068-.04c-.246-.162-.528-.312-.825-.435l-.034-.012q-.448-.182-.883-.399c-.097-.048-.21-.09-.327-.119l-.011-.002c-.117-.024-.217-.084-.29-.169l-.001-.001c-.138-.182-.259-.389-.355-.609l-.008-.02q-.145-.339-.314-.651-.363-.702-.702-1.427t-.651-1.452q-.217-.484-.399-.967c-.134-.354-.285-.657-.461-.942l.013.023c-.432-.736-.863-1.364-1.331-1.961l.028.038c-.463-.584-.943-1.106-1.459-1.59l-.008-.007c-.509-.478-1.057-.934-1.632-1.356l-.049-.035q-.896-.651-1.96-1.282c-.285-.168-.616-.305-.965-.393l-.026-.006-1.113-.278-.629-.048q-.314-.024-.629-.024c-.148-.078-.275-.171-.387-.279-.11-.105-.229-.204-.353-.295l-.01-.007c-.605-.353-1.308-.676-2.043-.93l-.085-.026c-.193-.113-.425-.179-.672-.179-.176 0-.345.034-.499.095l.009-.003c-.38.151-.67.458-.795.84l-.003.01c-.073.172-.115.371-.115.581 0 .368.13.705.347.968l-.002-.003q.544.725.834 1.14.217.291.448.605c.141.188.266.403.367.63l.008.021c.056.119.105.261.141.407l.003.016q.048.206.121.448.217.556.411 1.14c.141.425.297.785.478 1.128l-.019-.04q.145.266.291.52t.314.496c.065.098.147.179.241.242l.003.002c.099.072.164.185.169.313v.001c-.114.168-.191.369-.217.586l-.001.006c-.035.253-.085.478-.153.695l.008-.03c-.223.666-.351 1.434-.351 2.231 0 .258.013.512.04.763l-.003-.031c.06.958.349 1.838.812 2.6l-.014-.025c.197.295.408.552.641.787.168.188.412.306.684.306.152 0 .296-.037.422-.103l-.005.002c.35-.126.599-.446.617-.827v-.002c.048-.474.12-.898.219-1.312l-.013.067c.024-.063.038-.135.038-.211 0-.015-.001-.03-.002-.045v.002q-.012-.109.133-.206v.048q.145.339.302.677t.326.677c.295.449.608.841.952 1.202l-.003-.003c.345.372.721.706 1.127 1.001l.022.015c.212.162.398.337.566.528l.004.004c.158.186.347.339.56.454l.01.005v-.024h.048c-.039-.087-.102-.157-.18-.205l-.002-.001c-.079-.044-.147-.088-.211-.136l.005.003q-.217-.217-.448-.484t-.423-.508q-.508-.702-.969-1.467t-.871-1.555q-.194-.387-.375-.798t-.351-.798c-.049-.099-.083-.213-.096-.334v-.005c-.006-.115-.072-.214-.168-.265l-.002-.001c-.121.206-.255.384-.408.545l.001-.001c-.159.167-.289.364-.382.58l-.005.013c-.141.342-.244.739-.289 1.154l-.002.019q-.072.641-.145 1.318l-.048.024-.024.024c-.26-.053-.474-.219-.59-.443l-.002-.005q-.182-.351-.326-.69c-.248-.637-.402-1.374-.423-2.144v-.009c-.009-.122-.013-.265-.013-.408 0-.666.105-1.308.299-1.91l-.012.044q.072-.266.314-.896t.097-.871c-.05-.165-.143-.304-.265-.41l-.001-.001c-.122-.106-.233-.217-.335-.335l-.003-.004q-.169-.244-.326-.52t-.278-.544c-.165-.382-.334-.861-.474-1.353l-.022-.089c-.159-.565-.336-1.043-.546-1.503l.026.064c-.111-.252-.24-.47-.39-.669l.006.008q-.244-.326-.436-.617-.244-.314-.484-.605c-.163-.197-.308-.419-.426-.657l-.009-.02c-.048-.097-.09-.21-.119-.327l-.002-.011c-.011-.035-.017-.076-.017-.117 0-.082.024-.159.066-.223l-.001.002c.011-.056.037-.105.073-.145.039-.035.089-.061.143-.072h.002c.085-.055.188-.088.3-.088.084 0 .165.019.236.053l-.003-.001c.219.062.396.124.569.195l-.036-.013q.459.194.847.375c.298.142.552.292.792.459l-.018-.012q.194.121.387.266t.411.291h.339q.387 0 .822.037c.293.023.564.078.822.164l-.024-.007c.481.143.894.312 1.286.515l-.041-.019q.593.302 1.125.641c.589.367 1.098.743 1.577 1.154l-.017-.014c.5.428.954.867 1.38 1.331l.01.012c.416.454.813.947 1.176 1.464l.031.047c.334.472.671 1.018.974 1.584l.042.085c.081.154.163.343.234.536l.011.033q.097.278.217.57.266.605.57 1.221t.57 1.198l.532 1.161c.187.406.396.756.639 1.079l-.011-.015c.203.217.474.369.778.422l.008.001c.368.092.678.196.978.319l-.047-.017c.143.065.327.134.516.195l.04.011c.212.065.396.151.565.259l-.009-.005c.327.183.604.363.868.559l-.021-.015q.411.302.822.57.194.145.651.423t.484.52c-.114-.004-.249-.007-.384-.007-.492 0-.976.032-1.45.094l.056-.006c-.536.072-1.022.203-1.479.39l.04-.014c-.113.049-.248.094-.388.129l-.019.004c-.142.021-.252.135-.266.277v.001c.061.076.11.164.143.26l.002.006c.034.102.075.19.125.272l-.003-.006c.119.211.247.393.391.561l-.004-.005c.141.174.3.325.476.454l.007.005q.244.194.508.399c.161.126.343.25.532.362l.024.013c.284.174.614.34.958.479l.046.016c.374.15.695.324.993.531l-.016-.011q.291.169.58.375t.556.399c.073.072.137.152.191.239l.003.005c.091.104.217.175.36.193h.003v-.048c-.088-.067-.153-.16-.184-.267l-.001-.004c-.025-.102-.062-.191-.112-.273l.002.004zm-18.576-19.205q-.194 0-.363.012c-.115.008-.222.029-.323.063l.009-.003v.024h.048q.097.145.244.326t.266.351l.387.798.048-.024c.113-.082.2-.192.252-.321l.002-.005c.052-.139.082-.301.082-.469 0-.018 0-.036-.001-.054v.003c-.045-.044-.082-.096-.108-.154l-.001-.003-.081-.182c-.053-.084-.127-.15-.214-.192l-.003-.001c-.094-.045-.174-.102-.244-.169z"></path></g>
          </svg>
          <svg
            class="fill-primary h-12"
            viewBox="-6.5 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>MongoDB</title>
              <path
                d="m10.562 9.518c-1.263-5.56-4.242-7.387-4.562-8.086-.262-.408-.508-.879-.711-1.372l-.022-.06c0 .019 0 .031-.005.049v.013.039.015.026.026.012s0 .009 0 .013v-.001.021c0 .003.001.007.001.011s0 .007-.001.011v.02.032l-.009.05v.01.006s0 .004 0 .006v.041h-.005v.016h-.036v.057h-.006v.046h-.024v.038.003s0 .002 0 .003v.01.005s0 .003 0 .005l-.023.017-.005.007v.022h-.005v.018h-.006v.045h-.006v.019h-.005v.018h-.005v.022h-.045v.015h-.005v.019h-.005v.015h-.006v.023h-.005v.006s0 0 0 0v.003s0 .002 0 .004c-.019.009-.035.021-.049.034-.003.003-.006.006-.009.01s0 0 0 0v.058h-.005v-.008h-.005v.01h-.005v.008h-.005v.022h-.061v.01h-.01v.02h-.03v.01h-.005v.006h-.01v.01h-.03v.006h-.005v.058h-.006v.01h-.005v.006h-.005v.006c-.004.006-.009.011-.014.016l-.012.01c-.014.01-.027.021-.039.032-.008.006-.015.011-.022.017l-.049.039-.074.062c-.057.047-.117.1-.186.159-.169.148-.37.338-.6.568l-.015.015c-2.234 2.374-3.637 5.553-3.729 9.059v.018c-.008.155-.013.336-.013.518 0 .22.007.439.02.656l-.001-.03v.009c.112 1.765.628 3.389 1.456 4.808l-.028-.052c.308.54.614.999.948 1.435l-.022-.03c.727.963 1.555 1.795 2.483 2.503l.031.023c.255.766.403 1.647.403 2.563 0 .076-.001.152-.003.227v-.011l.644.215c-.027-.303-.043-.655-.043-1.01 0-.533.035-1.058.102-1.572l-.006.061c.065-.257.186-.48.35-.664l-.001.002c.298-.213.559-.424.806-.651l-.006.006c.018-.019.028-.036.044-.054 2.227-2.09 3.614-5.051 3.614-8.337 0-.801-.082-1.582-.239-2.337l.013.074z"
              ></path></g
            ></svg
          >
          <svg 
            class="fill-primary h-12"
            xmlns="http://www.w3.org/2000/svg" 
            height="1em" 
            viewBox="0 0 640 512">
            <title>Docker</title>
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4.4 67.6.1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z"/>
          </svg>
          <svg
            class="fill-primary h-12"
            viewBox="0 0 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>Git</title>
              <path
                d="M30.428 14.663l-13.095-13.094c-0.35-0.349-0.833-0.565-1.367-0.565s-1.017 0.216-1.367 0.565l0-0-2.713 2.718 3.449 3.449c0.22-0.077 0.473-0.121 0.737-0.121 1.269 0 2.297 1.028 2.297 2.297 0 0.269-0.046 0.526-0.131 0.766l0.005-0.016 3.322 3.324c0.222-0.079 0.479-0.125 0.746-0.125 1.268 0 2.296 1.028 2.296 2.296s-1.028 2.296-2.296 2.296c-1.268 0-2.296-1.028-2.296-2.296 0-0.313 0.063-0.611 0.176-0.883l-0.006 0.015-3.11-3.094v8.154c0.764 0.385 1.279 1.163 1.279 2.061 0 1.27-1.030 2.3-2.3 2.3s-2.3-1.030-2.3-2.3c0-0.634 0.256-1.207 0.671-1.623l-0 0c0.211-0.211 0.462-0.382 0.741-0.502l0.015-0.006v-8.234c-0.842-0.354-1.422-1.173-1.422-2.126 0-0.32 0.065-0.624 0.183-0.901l-0.006 0.015-3.389-3.405-8.98 8.974c-0.348 0.351-0.562 0.834-0.562 1.368s0.215 1.017 0.563 1.368l13.096 13.092c0.349 0.35 0.832 0.566 1.366 0.566s1.016-0.216 1.366-0.566l13.034-13.034c0.35-0.349 0.567-0.833 0.567-1.366s-0.217-1.017-0.567-1.366l-0-0z"
              ></path>
            </g></svg
          >
        </div>
        <h1
          class="mt-8 text-2xl text-transparent bg-clip-text bg-gradient-to-r from-secondary to-[#616161] font-extrabold py-3 text-center"
        >
          Herramientas
        </h1>
        <div
          class="grayscale opacity-75 flex gap-8 flex-wrap w-full sm:justify-center justify-center"
        >
          <svg
            class="fill-primary h-12"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>VS Code</title>
              <path
                d="M0.228341 8.36915C0.228341 8.36915 -0.356212 7.94324 0.345251 7.37453L1.97956 5.89736C1.97956 5.89736 2.44721 5.40004 2.94164 5.83334L18.0231 17.375V22.9094C18.0231 22.9094 18.0158 23.7785 16.9124 23.6825L0.228341 8.36915Z"
              ></path>
              <path
                d="M4.11555 11.9367L0.228273 15.5089C0.228273 15.5089 -0.171172 15.8093 0.228273 16.346L2.03308 18.0053C2.03308 18.0053 2.46175 18.4706 3.09502 17.9413L7.21611 14.7827L4.11555 11.9367Z"
              ></path>
              <path
                d="M10.94 11.9661L18.0691 6.46362L18.0228 0.95865C18.0228 0.95865 17.7183 -0.242793 16.7027 0.382548L7.21589 9.11025L10.94 11.9661Z"
              ></path>
              <path
                d="M16.9121 23.69C17.3261 24.1183 17.8279 23.978 17.8279 23.978L23.3838 21.2108C24.0951 20.7208 23.9952 20.1127 23.9952 20.1127V3.58803C23.9952 2.86175 23.2596 2.61063 23.2596 2.61063L18.4441 0.264377C17.3919 -0.392968 16.7027 0.382548 16.7027 0.382548C16.7027 0.382548 17.5892 -0.262484 18.0228 0.95865L18.0228 22.8086C18.0228 22.9588 17.9911 23.1065 17.9278 23.2394C17.8011 23.4979 17.5259 23.7392 16.8658 23.6383L16.9121 23.69Z"
              ></path>
            </g></svg
          >
          <svg 
            class="fill-primary h-12"
            viewBox="0 0 256 256" 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            preserveAspectRatio="xMidYMid" fill="#000000" stroke="#000000">
            <title>IntelliJ IDEA</title>
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier"> <defs> <linearGradient x1="0%" y1="50%" x2="99.7986577%" y2="50%" id="linearGradient-1"> 
              <stop stop-color="#F97A12" offset="26%"> </stop> <stop stop-color="#B07B58" offset="46%"> </stop> 
              <stop stop-color="#577BAE" offset="72%"> </stop> <stop stop-color="#1E7CE5" offset="91%"> </stop> 
              <stop stop-color="#087CFA" offset="100%"> </stop> </linearGradient> 
              <linearGradient x1="0.344827586%" y1="34.5396825%" x2="121.182266%" y2="77.6190476%" id="linearGradient-2"> <stop stop-color="#F97A12" offset="0%"> </stop> <stop stop-color="#CB7A3E" offset="7%"> </stop> <stop stop-color="#9E7B6A" offset="15%"> </stop> <stop stop-color="#757B91" offset="24%"> </stop> <stop stop-color="#537BB1" offset="33%"> </stop> <stop stop-color="#387CCC" offset="43%"> </stop> <stop stop-color="#237CE0" offset="54%"> </stop> <stop stop-color="#147CEF" offset="66%"> </stop> <stop stop-color="#0B7CF7" offset="79%"> </stop> <stop stop-color="#087CFA" offset="100%"> </stop> </linearGradient> <linearGradient x1="78.1690141%" y1="97.7493606%" x2="30.1056338%" y2="-6.62404092%" id="linearGradient-3"> <stop stop-color="#FE315D" offset="0%"> </stop> <stop stop-color="#CB417E" offset="8%"> </stop> <stop stop-color="#9E4E9B" offset="16%"> </stop> <stop stop-color="#755BB4" offset="25%"> </stop> <stop stop-color="#5365CA" offset="34%"> </stop> <stop stop-color="#386DDB" offset="44%"> </stop> <stop stop-color="#2374E9" offset="54%"> </stop> <stop stop-color="#1478F3" offset="66%"> </stop> <stop stop-color="#0B7BF8" offset="79%"> </stop> <stop stop-color="#087CFA" offset="100%"> </stop> </linearGradient> <linearGradient x1="20%" y1="24.0865385%" x2="103.421589%" y2="132.676282%" id="linearGradient-4"> <stop stop-color="#FE315D" offset="0%"> </stop> <stop stop-color="#F63462" offset="4%"> </stop> <stop stop-color="#DF3A71" offset="10%"> </stop> <stop stop-color="#C24383" offset="17%"> </stop> <stop stop-color="#AD4A91" offset="29%"> </stop> <stop stop-color="#755BB4" offset="55%"> </stop> <stop stop-color="#1D76ED" offset="92%"> </stop> <stop stop-color="#087CFA" offset="100%"> </stop> </linearGradient> </defs> <g> <polygon fill="url(#linearGradient-1)" points="64.8 199.6 2.8 150.8 33.6 93.6 122 128"> </polygon> <polygon fill="url(#linearGradient-2)" points="256 68.4 251.2 216.4 152.8 256 93.6 217.6 180 128 142.4 44.8 176.4 4"> </polygon> <polygon fill="url(#linearGradient-3)" points="256 68.4 178 160.4 142.4 44.8 176.4 4"> </polygon> <polygon fill="url(#linearGradient-4)" points="123.2 212.4 20.8 249.6 37.2 192 58.4 120.8 0 101.2 37.2 0 117.2 9.6 196.4 100"> </polygon> <rect fill="#000000" x="48" y="48" width="160" height="160"> </rect> <path d="M63.2,178 L123.2,178 L123.2,188 L63.2,188 L63.2,178 Z M106,80.8 L106,68.8 L73.2,68.8 L73.2,80.8 L82.4,80.8 L82.4,122.8 L73.2,122.8 L73.2,135.2 L106,135.2 L106,122.8 L96.8,122.8 L96.8,80.8 L106,80.8 Z M138,136 C133.433351,136.205984 128.889763,135.242193 124.8,133.2 C121.453966,131.354025 118.472002,128.914237 116,126 L125.2,115.6 C126.861272,117.42513 128.742265,119.03741 130.8,120.4 C132.73613,121.535124 134.957474,122.09046 137.2,122 C139.666127,122.188479 142.064692,121.139107 143.6,119.2 C145.452667,116.813942 146.312461,113.804666 146,110.8 L146,68 L160.8,68 L160.8,111.2 C160.951789,114.737935 160.408195,118.271293 159.2,121.6 C158.144579,124.977032 156.212191,128.013641 153.6,130.4 C149.066749,133.765567 143.638763,135.714074 138,136 Z" fill="#FFFFFF"> </path> </g> </g></svg>
          <svg 
            class="fill-primary h-12"
            viewBox="0 -8 256 256" 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            preserveAspectRatio="xMidYMid" fill="#000000">
            <title>Eclipse IDE</title>
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> <linearGradient x1="49.9996994%" y1="1089.3962%" x2="49.9996994%" y2="-159.499661%" id="linearGradient-1"> <stop stop-color="#473788" offset="30.33%"> </stop> <stop stop-color="#2C2255" offset="87.2%"> </stop> </linearGradient> <linearGradient x1="49.9989479%" y1="896.536635%" x2="49.9989479%" y2="-352.359227%" id="linearGradient-2"> <stop stop-color="#473788" offset="30.33%"> </stop> <stop stop-color="#2C2255" offset="87.2%"> </stop> </linearGradient> <linearGradient x1="49.9988435%" y1="215.169856%" x2="49.9988435%" y2="-166.715419%" id="linearGradient-3"> <stop stop-color="#473788" offset="30.33%"> </stop> <stop stop-color="#2C2255" offset="86.31%"> </stop> </linearGradient> </defs> <g> <path d="M251.481071,152.819687 C246.245691,170.642011 236.536567,186.62 222.330265,200.732561 L221.705382,201.357553 C203.966028,218.982612 183.308033,229.550237 159.751763,233.105682 C153.799271,234.003242 147.671016,234.474286 141.345908,234.474286 C109.70396,234.474286 82.6458994,223.2372 60.1436046,200.732561 C46.0286993,186.615313 36.387537,170.642011 31.1919957,152.819687 L31.1919957,152.819687 Z M255.903257,126.17174 C255.692342,130.41746 255.253639,134.566371 254.617899,138.635555 L254.39873,139.989021 L28.2954287,139.989021 C27.6183913,135.937342 27.1387705,131.807836 26.8804839,127.583418 L26.8026187,126.17174 L255.903257,126.17174 Z M254.394043,99.5237922 C255.075299,103.57758 255.557239,107.707297 255.817656,111.930028 L255.896227,113.341073 L26.8026187,113.341073 C27.0114246,109.097462 27.4461206,104.948762 28.0776636,100.87789 L28.2954287,99.5237922 L254.394043,99.5237922 Z" fill="#2C2255"> </path> <path d="M251.485758,86.6907818 C246.255065,68.8192446 236.543597,52.7709511 222.330265,38.5552752 C204.498567,20.7235776 183.690624,10.0254964 159.934556,6.42587921 C153.92582,5.51425739 147.736634,5.03618323 141.345908,5.03618323 C109.70396,5.03618323 82.6435559,16.2123386 60.1436046,38.5552752 C46.0240123,52.7709511 36.378163,68.8192446 31.1849652,86.6907818" fill="#2C2255"> </path> <path d="M19.9900619,119.759922 C19.9900619,59.2413568 65.44226,8.95686008 124.571129,0.112488039 C123.104097,0.0585875201 121.630035,0 120.148943,0 C53.795061,0 0,53.6192984 0,119.759922 C0,185.902888 53.7927175,239.519843 120.148943,239.519843 C121.634722,239.519843 123.108784,239.463599 124.580503,239.409699 C65.44226,230.565327 19.9900619,180.28083 19.9900619,119.759922 Z" fill="#F7941E"> </path> <g transform="translate(63.110477, 99.069153)"> <path d="M156.201359,14.2695764 C155.817025,9.53336127 155.020235,4.91432119 153.829736,0.452295655 L2.65049941,0.452295655 C1.460001,4.91197769 0.660867227,9.53101777 0.276533095,14.2695764 L156.201359,14.2695764 Z" fill="url(#linearGradient-1)"> </path> <path d="M156.201359,27.1025868 L0.278876596,27.1025868 C0.663210728,31.8388019 1.4576575,36.457842 2.65049941,40.9198675 L153.83208,40.9198675 C155.022578,36.457842 155.817025,31.8388019 156.201359,27.1025868 Z" fill="url(#linearGradient-2)"> </path> <path d="M78.2401179,98.9355735 C109.635998,98.9355735 136.698745,80.4383216 149.161483,53.7505345 L7.31875301,53.7505345 C19.7814903,80.4383216 46.8442376,98.9355735 78.2401179,98.9355735 Z" fill="url(#linearGradient-3)"> </path> </g> <path d="M254.368264,139.986677 C253.597253,144.354963 252.587204,148.638882 251.335774,152.819687 L251.335774,152.819687 L31.1896522,152.819687 C29.9358793,148.636539 29.0617535,144.352619 28.2930852,139.986677 L28.2930852,139.986677 Z M255.701716,113.338729 C255.828265,115.548651 255.910288,117.767946 255.910288,120.005989 C255.910288,122.0753 255.849357,124.130551 255.741556,126.17174 L255.741556,126.17174 L26.7627792,126.17174 C26.6549782,124.130551 26.5940471,122.0753 26.5940471,120.005989 C26.5940471,117.767946 26.6760697,115.546307 26.8026187,113.338729 L26.8026187,113.338729 Z M250.585854,86.6907818 C251.858375,90.8715872 252.877798,95.1578502 253.669901,99.5237922 L253.669901,99.5237922 L28.2954287,99.5237922 C29.0851885,95.1555067 29.9077573,90.8692437 31.1826217,86.6907818 L31.1826217,86.6907818 Z" fill="#FFFFFF"> </path> </g> </g></svg>    
          <svg 
            class="fill-primary h-12"
            id="Layer_1" 
            data-name="Layer 1" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 409.24 496.55">
            <title>Android Studio</title>
            <defs><style>.cls-1{fill:#073042;}.cls-2{fill:#4285f4;}.cls-3{fill:#3870b2;}.cls-4{fill:#fff;}.cls-5{fill:#3ddc84;}</style></defs><title>android-studio</title><path class="cls-1" d="M153.34,62.74H41.18A41.3,41.3,0,0,0,0,104a40,40,0,0,0,38.74,41.14l1.22,0H154.54Z"/><path class="cls-2" d="M408.84,429.74H41.05A41.3,41.3,0,0,1,0,388.58V103.77A41.3,41.3,0,0,0,41.1,145.28c.92,0,1.83,0,2.74-.08H348.9s59.94-5.2,59.94,40Z"/><path d="M214.62,231.65a22.78,22.78,0,1,0,21.6,14.41A22.92,22.92,0,0,0,214.62,231.65Z"/><path class="cls-3" d="M237.27,283.87a37,37,0,0,0-21.18-66.6h1.2a33.82,33.82,0,0,1,6.52,0V194.35a7.3,7.3,0,0,0-3.46-6.52,7.19,7.19,0,0,0-7.33,0,7.3,7.3,0,0,0-3.46,6.52v23.32a37.16,37.16,0,0,0-16.25,66.6L125.5,429.21h44.23L201,362.6a16.26,16.26,0,0,1,14.66-9.19,16,16,0,0,1,14.52,9.19l32.23,66.61H307.2Zm-22.65-6.53a23,23,0,1,1,22.91-22.91,22.91,22.91,0,0,1-22.91,22.91Z"/><path class="cls-4" d="M129.1,83H286.42V111.9H129.1Z"/><path class="cls-1" d="M202.37,231.65a22.77,22.77,0,1,1-16.26,6.66A23.25,23.25,0,0,1,202.37,231.65Zm9-13.32v-24a7.3,7.3,0,0,0-3.46-6.52,7.19,7.19,0,0,0-7.33,0,7.32,7.32,0,0,0-3.46,6.52v23.32a37.16,37.16,0,0,0-16.25,66.6L95.8,467.44a20.24,20.24,0,0,0,1.46,20.38,20.54,20.54,0,0,0,18.52,8.66,20.13,20.13,0,0,0,16.52-12L189,362.6a16.39,16.39,0,0,1,14.66-9.19,16,16,0,0,1,14.52,9.19l58.21,121.22a20.13,20.13,0,1,0,36.23-17.58L225,283.87a37.48,37.48,0,0,0-13.32-65.4"/><path class="cls-5" d="M263.64,108.43a10.66,10.66,0,0,1-7.72-18.25,10.79,10.79,0,0,1,18.38,7.6,10.65,10.65,0,0,1-10.66,10.65h0m-118.42,0a10.66,10.66,0,0,1-7.6-18.25,10.79,10.79,0,0,1,16.69,13.69,10.63,10.63,0,0,1-1.5,1.5,10.51,10.51,0,0,1-7.59,3.06m122.29-64.6,21.31-37a4.53,4.53,0,0,0-7.73-4.53L259.51,39.83a134.25,134.25,0,0,0-110,0L127.77,2.26A4.54,4.54,0,0,0,123.9,0,4.92,4.92,0,0,0,120,2.26a4.53,4.53,0,0,0,0,4.53l21.45,37A126.8,126.8,0,0,0,76,145.2h257.1A126.85,126.85,0,0,0,267.51,43.83"/><path class="cls-1" d="M371.94,224.19H355a2.14,2.14,0,0,0-2.14,2.14h0V493.41a2.13,2.13,0,0,0,2,2.13h17.45a37,37,0,0,0,36.9-37V187.16a37,37,0,0,1-37,37Z"/></svg>
          <svg
            class="fill-primary h-12"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>Postman</title>
              <path
                d="M18.036 0.131c-8.765-1.12-16.781 5.067-17.905 13.833-1.12 8.765 5.067 16.781 13.833 17.905 8.765 1.12 16.781-5.067 17.9-13.833 1.125-8.765-5.061-16.781-13.828-17.905zM21.328 10.115c-0.297 0-0.579 0.12-0.787 0.333l-5.937 5.932-0.411-0.407-0.855-0.859c5.849-5.833 6.907-5.891 7.989-5zM14.849 16.593l5.916-5.921c0.328-0.344 0.875-0.339 1.204 0.005 0.323 0.349 0.291 0.896-0.073 1.197l-6.265 5.5zM15.287 17.521l-1.469 0.317c-0.031 0.005-0.072-0.011-0.088-0.047-0.016-0.032-0.011-0.068 0.016-0.095l0.859-0.859zM11.547 16.907l1.568-1.563 1.172 1.172-2.641 0.567c-0.047 0.011-0.093-0.009-0.115-0.052-0.025-0.041-0.015-0.093 0.016-0.124zM6.688 24.984c-0.057-0.005-0.1-0.057-0.095-0.109 0.005-0.025 0.016-0.047 0.032-0.063h0.005l1.26-1.26 1.631 1.631zM9.921 23.307c-0.124 0.068-0.187 0.209-0.156 0.344l0.271 1.152c0.043 0.167-0.161 0.28-0.281 0.156h-0.005l-1.635-1.636 5.016-5.011 2.427-0.525 1.161 1.167c-1.672 1.468-3.959 2.932-6.797 4.353zM16.959 18.74l-1.12-1.12 6.265-5.5c0.057-0.052 0.109-0.109 0.156-0.167-0.192 1.792-2.703 4.323-5.301 6.787zM21.839 10.125h-0.005c-2.183-2.193 0.901-5.563 3.276-3.584l-2.145 2.152c-0.063 0.061-0.063 0.167 0 0.228l1.661 1.663c-0.932 0.463-2.052 0.276-2.787-0.459zM25.271 10.125c-0.109 0.109-0.229 0.208-0.359 0.291l-1.609-1.609 2.041-2.047c0.885 0.964 0.849 2.443-0.073 3.365zM25.14 8.068c-0.067 0.047-0.093 0.129-0.072 0.208 0.099 0.197 0.072 0.432-0.068 0.599-0.068 0.084-0.052 0.199 0.031 0.265 0.032 0.021 0.068 0.037 0.109 0.037 0.057 0 0.111-0.021 0.141-0.063 0.235-0.281 0.281-0.677 0.12-1.005-0.063-0.083-0.177-0.104-0.261-0.041z"
              ></path>
            </g></svg
          >
        </div>
      </div>
    </section>
  </div>
</section>
