--- 
import { getProjects } from "../utils/projects";
import ProjectCard from "./ProjectCard.astro";
const PROJECTS = getProjects();
---

<section id="projects" class="text-primary body-font w-5/6 mx-auto">
  <div class="py-24 mx-auto">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-secondary to-[#616161]"
    >
      Proyectos Recientes
    </h1>

    <p
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      class="text-gray-400 font-medium text-lg text-center mb-16 w-full sm:w-5/6 mx-auto"
    >
      Estos son algunos de los proyectos en los que he estado trabajando últimamente. 
      Cada proyecto aparece con su descripción detallada y enlace a su respectivo repositorio.
    </p>
      <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        class="flex justify-between items-center py-8">
        <h1 class="text-primary text-xl sm:text-3xl font-semibold">Últimos Proyectos</h1>
        <a
          class="text-primary px-4 py-2.5 bg-primary rounded-xl bg-opacity-10"
          aria-label="blog link"
          href="/projects"
        >
          Ver todos</a
        >
    </div>
    <div class="mx-auto grid grid-cols-1 gap-8 md:grid md:grid-cols-2 lg:grid lg:grid-cols-3 xl:grid xl:grid-cols-3">
      {
        PROJECTS &&
          PROJECTS.slice(0, 3).map((project) => (
            <ProjectCard {...project}/>
          ))
      }
    </div>
  </div>
</section>